#paradise-index {
  .nav-bar {
    float: left;

    width: 30%;
    height: 1000px;
    padding-top: 100px;

    background: cadetblue;

    .menu {
      width: 100%;

      .menu-item {
        width: 100%;
        margin: 20px 0;
        padding-left: 20px;

        font-size: 18px;

        a {
          color: white;
        }
      }
    }
  }

  header{
    float: right;

    width: 70%;
    height: 100px;

    background: #f51;

    .title {
      height: 100%;

      line-height: 100px;
      text-align: center;
    }
  }

  .main {
    float: right;

    width: 58%;
    height: 1000px;
    margin-right: 8%;
    padding: 10px;

    background: #ff3;

    section {
      margin-bottom: 40px;

      .section-title {
        text-align: center;
        margin-bottom: 10px;
      }

      .section-item {
        line-height: 30px;
      }
      .more {
        float: right;

        padding-right: 20px;
      }
    }
  }

  @media (min-width: 980px) {
    .nav-bar {
    }
  }

  @media (max-width: 780px) {

  }
}