<div id="content">
		<div class="head">
			<img src="img/head.gif" alt="" />
			<table>
				<tr>
					<td>用户名</td>
					<td>
						<input type="text" name="username" id="username" />
					</td>
					<td>
						<label>
							<input type="checkbox" />自动登录
						</label>
					</td>
					<td><a href="#">找回密码</a></td>
				</tr>
				
				<tr>
					<td>密码</td>
					<td>
						<input type="password" name="password" id="password" />
					</td>
					<td>
						<input type="submit" name="submit" id="submit" placeholder="登录" />
					</td>
					<td><a href="#">注册</a></td>
				</tr>
			</table>
		</div>
		
		<div class="navb">
		      <div><a href="#">主页</a></div>
		      <div><a href="#">新番专区</a></div>
		      <div><a href="#">动漫图库</a></div>
		      <div><a href="#">动漫资讯</a></div>
		      <div><a href="#">国内原创</a></div>
	     </div>
		
		<div class="carousel">
			<ul class="carouselImg">
				<li>
					<img src="" alt="" />
				</li>
				<li>
					<img src="" alt="" />
				</li>
				<li>
					<img src="" alt="" />
				</li>
			</ul>
			
			<ul class="carouselNum">
				<li>
					<h1></h1>
				</li>
				<li>
					<h1></h1>
				</li>
				<li>
					<h1></h1>
				</li>
			</ul>
		</div>
		
		<div class="message">
			<p>今日资讯<span><a href="#">更多</a></span></p>
			<ul>
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
                                 
                                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>

                                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>

                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
			</ul>
		</div>
		<div class="comic">
			<p><strong>新番推荐</strong><span><a href="#">更多</a></span></p>
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
		</div>
		
		<div class="photo">
			<p><strong>美图鉴赏</strong><span><a href="#">更多</a></span></p>
                        <div>
                            <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                         <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
		</div>
		
		<div class="movie">
			<p><strong>动漫电影</strong><span><a href="#">更多</a></span></p>
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
		</div>
		
		<div class="original">
			<p><strong>原创资讯</strong><span><a href="#">更多</a></span></p>
            <div>
            	<img src="" alt="" />
            	<a href="#">
            		<span>111111111111111111111112222222222222222</span>
            	</a>
            </div>
            
            <div>
            	<img src="" alt="" />
            	<a href="#">
            		<span>111111111111111111111112222222222222222</span>
            	</a>
            </div>
            
            <div>
            	<img src="" alt="" />
            	<a href="#">
            		<span>111111111111111111111112222222222222222</span>
            	</a>
            </div>
            
            <div>
            	<img src="" alt="" />
            	<a href="#">
            		<span>111111111111111111111112222222222222222</span>
            	</a>
            </div>
		</div>
		
		
	</div>