<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>home</title>
		<link rel="stylesheet" href="css/new_file.css" />
	</head>
	<body>
	<div id="content">
		<div class="head">
			<img src="img/head.gif" alt="" />
			<form method="post" action="" id="getform">
				<table>
				<tr>
					<td>用户名</td>
					<td>
						<input type="text" name="username" id="username" />
					</td>
					<td>
						<label>
							<input type="checkbox" />自动登录
						</label>
					</td>
					<td><a href="#">找回密码</a></td>
				</tr>
				
				<tr>
					<td>密码</td>
					<td>
						<input type="password" name="password" id="password" />
					</td>
					<td>
						<button type="submit">登录</button>
					</td>
					<td><a href="#">注册</a></td>
				</tr>
			    </table>
			</form>
		</div>
		
		
		
		<div class="navb">
		      <div><a href="#">主页</a></div>
		      <div><a href="#">新番专区</a></div>
		      <div><a href="#">动漫图库</a></div>
		      <div><a href="#">动漫资讯</a></div>
		      <div><a href="#">国内原创</a></div>
	     </div>
		
		<div id="bigImg">
			<ul id="imgs">
				<li>
					<a href="#">
					   <img src="img/bigimg01.jpg" />
				    </a>
				</li>
				
				<li>
					<a href="#">
					   <img src="img/bigimg02.jpg" />
				    </a>
				</li>
				
				<li>
					<a href="#">
					   <img src="img/bigimg03.jpg" />
				    </a>
				</li>
			</ul>
			
			<ul id="imgNum">
				<li class="a">1</li>
				<li class="b">2</li>
				<li class="b">3</li>
			</ul>
			
		</div>
		
		
		
		<div class="message">
			<p class="title"><strong>今日资讯</strong><span><a href="#">更多</a></span></p>
			<ul>
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
                                 
                                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>

                                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>

                <li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
				
				<li>
					<div class="messageTxt"  title=""><a href="#">11233444556677789900</a></div>
					<div class="updateTime">11:20</div>
				</li>
			</ul>
		</div>
		<div class="comic">
			<p class="title"><strong>新番推荐</strong><span><a href="#">更多</a></span></p>
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="comicImg">
                            <a href="#">
                               <img src="img/新番.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
		</div>
		
		<div class="photo">
			<p class="title"><strong>美图鉴赏</strong><span><a href="#">更多</a></span></p>
                        <div>
                            <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                         <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>

                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
                        
                        <div>
                             <a href="#"><img src="img/图片.jpg" alt="imge"/></a>
                        </div>
		</div>
		
		<div class="movie">
			<p class="title"><strong>动漫电影</strong><span><a href="#">更多</a></span></p>
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>

                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
                        <div class="movieImg">
                            <a href="#">
                               <img src="img/动漫电影.jpg" alt="imge"/>
                               <p>动漫标题</p>
                            </a>
                        </div>
                        
		</div>
		
		<div class="original">
			<p class="title"><strong>原创资讯</strong><span><a href="#">更多</a></span></p>
            <div>
            	<img  src="img/12.jpg"   alt="" />
            	<a href="#">
            		<span>111111111111</span>
            	</a>
            </div>
            
            <div>
            	<img src="img/12.jpg" alt="" />
            	<div>1123334444222222222222222222222222222222222222222222222222222222444556677</div>
            </div>
            
            <div>
            	<img src="img/12.jpg" alt="" />
            	<a href="#">
            		<span>11111111122222222222</span>
            	</a>
            </div>
            
            
		</div>
		
		
	</div>
	
	<script type="text/javascript" src="js/new_file.js" ></script>
	</body>
</html>
