#admin-cates {
  .cates-index {
    width: 70%;
    min-height: 500px;
    background: antiquewhite;
    display: inline-block;
  }

  .cates-new {
    width: 30%;
    float: right;
    height: 500px;
    background: lavender;

    .new-header {
      background: lightcoral;
      color: white;
    }

    .new-form {
      .column-item {
        width: 43%;
      }
    }
  }
}