<header>
  <h1 class='title'><%= header_title %></h1>
  <div id='search-container'>
    <input class='search-input' placeholder="菜名或食材名" />
    <button class='search-button'>搜索</button>
  </div>
</header>