<nav class="nav-bar">
  <ul class='menu'>
    <li class="menu-item"><a href='/paradise'>健食天地</a></li>
    <li class="menu-item"><a href='/paradise/cates'>美食百科</a></li>
    <li class="menu-item"><a href='/paradise/ingredients'>食材百科</a></li>
    <li class="menu-item"><a>敬请期待</a></li>
    <li class="menu-item"><a>敬请期待</a></li>
  </ul>
</nav>