<%= render 'paradise_share/nav' %>
<%= render partial: 'paradise_share/header', locals: { header_title: '健食天地' } %>


<main class="main">
  <section id='slide-container'>
    <i class='arrow prev'>&lt;</i>
    <i class='arrow next'>&gt;</i>
    <ul class='slide'>
      <li class='slide-item active' id='item1'>slide1</li>
      <li class='slide-item' id='item2'>slide2</li>
      <li class='slide-item' id='item3'>slide3</li>
      <li class='slide-item' id='item4'>slide4</li>
      <li class='slide-item' id='item5'>slide5</li>
    </ul>
    <div class='slide-dot-container'>
      <ul class='slide-dot'>
        <li class='dot item1'></li>
        <li class='dot item2'></li>
        <li class='dot item3'></li>
        <li class='dot item4'></li>
        <li class='dot item5'></li>
      </ul>
    </div>
  </section>
  <section id='week-hot'>
    <ul class='hot-nav'>
      <li class='hot-nav-item'>一周热门</li>
      <li class='hot-nav-item'>热门菜系</li>
      <li class='hot-nav-item'>热门甜品</li>
    </ul>
  </section>
  <section id='seasonal-ingredients'>
    时令食材
  </section>
  <section id='health'>
    健康小知识
  </section>
</main>

<footer>
  底部
</footer>
