<nav class="nav-bar", style="position: fixed; right: 0;">
  <ul>
    <li class="nav-item"><button class='btn btn-default'>导航1</button></li>
    <li class="nav-item"><button class='btn btn-default'>导航2</button></li>
    <li class="nav-item"><button class='btn btn-default'>导航3</button></li>
    <li class="nav-item"><button class='btn btn-default'>导航4</button></li>
    <li class="nav-item"><button class='btn btn-default'>导航5</button></li>
  </ul>
</nav>

<section class="net-section", style="width: 30%; height: 1000px; background: yellow;">
	
</section>

<div class="personal-menu">
  <%= image_tag("paradise/1.jpeg") %>
</div>