<aside class="site-bar", style="width: 30%; height: 1000px; float: left;">
</aside>

<header style="width: 70%; height: 100px; float: right;"></header>

<nav class="nav-bar", style="position: fixed; right: 0;">
  <ul>
    <li class="nav-item"><button class='btn btn-default'>h5游戏</button></li>
    <li class="nav-item"><button class='btn btn-default'>敬请期待</button></li>
    <li class="nav-item"><button class='btn btn-default'>敬请期待</button></li>
    <li class="nav-item"><button class='btn btn-default'>敬请期待</button></li>
    <li class="nav-item"><button class='btn btn-default'>敬请期待</button></li>
  </ul>
</nav>

<section class="net-section", style="width: 58%; height: 1000px; float: right;">
  
</section>


<div class="personal-menu">
  <%= image_tag("paradise/1.jpeg") %>
</div>