<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>welcome to YangWeb</title>
  </head>
  <body>
    <div id="mark"></div>
    <div id="alert">
      <span class="alert_ico"></span>
      <span class="close"></span>
      <h3>Yang-Web</h3>
      <p>欢迎来到我的个人网站</p>
      <input type="submit" value="登陆" id="Sign"/>
    </div>
        
    <div class="box">
<!----------------------------- 每日天气 ---------------------------------------------------------->    
    <div id="weather">
      <div class="toady">
        <p><em class="days">星期一</em><span class="temp">18~19度</span><i class="weather-ico"></i></p>
        <div class="next-toady-list1">
          <p><em class="days">星期二</em><span class="temp">18~19度</span><i class="weather-ico"></i></p>
          <div class="next-toady-list2">
            <p><em class="days">星期三</em><span class="temp">18~19度</span><i class="weather-ico"></i></p>
            <div class="next-toady-list3">
              <p><em class="days"></em>星期四<span class="temp">18~19度</span><i class="weather-ico"></i></p>
              <div class="next-toady-list4">
                <p><em class="days"></em>星期五<span class="temp">18~19度</span><i class="weather-ico"></i></p> 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



<!----------------------------- 新闻列表 --------------------------------------------------------->
    <div id="header">
        <div class="nav1">
          <div class="contain"></div>
          <div class="text"><a href="#">主页</a></div>
        </div>
        <div class="nav2">
          <div class="contain"></div>
          <div class="text"><a href="#">图库</a></div>
        </div>
        <div class="nav3">
          <div class="contain"></div>
          <div class="text"><a href="#">游戏</a></div>
        </div>
        <div class="nav4">
          <div class="contain"></div>
          <div class="text"><a href="#">简介</a></div>
        </div>
    </div>
<!----------------------------- 搜索区 ---------------------------------------------------------->     
    <div id="search">
      <div class="Input clear ">
        <div class="search_ico"></div>
        <div class="search_content">
            <input type="text" value="112"/>
            <a href="https://www.baidu.com/"></a>
            <div class="search_bg"></div>
        </div>
      </div>
      <ul id="search-list"></ul>
    </div>



<!----------------------------- 新闻列表 ---------------------------------------------------------->
    <ul class="list">
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic"></div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎的大佬在现场玩的不亦
            的大佬在现场玩的不亦的大佬在亦。
          </div>
        </div>
        <!--<p class="bg" ></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <li>
        <div class="Li">
          <h3>《丧尸围城4》</h3>
          <div class="Pic">
            
          </div>
          <div class="text" style="width: 150px;margin: 10px auto;">
            在近日举办的一个开发者峰会上，我们见到了索尼总裁吉田修平的身影，这位年近中年的大佬在现场玩的不亦乐乎。
          </div>
        </div>
        <!--<p class="bg"></p>-->
      </li>
      <h2 class="title">每日资讯</h2>
    </ul>
    </div>
    <%= javascript_include_tag('yang_web/tools.js') %>
  </body>
</html>
