.paradise {
  header{
    display: flex;
    height: 100px;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;

    .title {
      width: 75%;
    }

    #search-container {
      .search-input {
        height: 35px;
        margin-right: -5px;
        padding-left: 10px;
        border: 1px solid black;
        border-bottom-left-radius: 200px;
        border-top-left-radius: 200px;
        outline: none;
      }

      .search-button {
        padding-bottom: 7px;
        padding-top: 6px;
        background: grey;
        color: white;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }

  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    background: black;
    z-index: 1000;

    .menu {
      display: flex;
      line-height: 40px;

      .menu-item {
        a {
          padding: 0 10px;
          color: white;
        }
      }
    }
  }

  footer {
    height: 150px;
    background: black;
    color: white;
  }

  .item-card {
    display: inline-table;
    width: 230px;
    height: 300px;
    margin-right: 15px;
    text-align: center;

    .item-card-img {
      background: grey;
      width: 100%;
      height: 200px;
    }
  }
}